<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>felesel</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>gt-eesti-pro-display-bold-italic.otf</string>
		<string>gt-eesti-pro-display-bold.otf</string>
		<string>gt-eesti-pro-display-light-italic.otf</string>
		<string>gt-eesti-pro-display-light.otf</string>
		<string>gt-eesti-pro-display-medium-italic.otf</string>
		<string>gt-eesti-pro-display-medium.otf</string>
		<string>gt-eesti-pro-display-regular-italic.otf</string>
		<string>gt-eesti-pro-display-regular.otf</string>
		<string>gt-eesti-pro-display-thin-italic.otf</string>
		<string>gt-eesti-pro-display-thin.otf</string>
		<string>gt-eesti-pro-display-ubold-italic.otf</string>
		<string>gt-eesti-pro-display-ubold.otf</string>
		<string>gt-eesti-pro-display-ulight-italic.otf</string>
		<string>gt-eesti-pro-display-ulight.otf</string>
	</array>
</dict>
</plist>
